html {
    scroll-behavior: smooth;
}

body, html {
  margin:0 !important;
  padding:0 !important;
}

hr {
    border: 0; 
    border-top: 1px solid black; 
}

.wono{
    color: #C62026;
}
.soft{
    color: #000000;

}

.wono,.soft{
    display: inline-block;
}

section{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    
} 

#seccionIni img{
    width: 100%;
    height: 100vh;

}

.centered{
  position: absolute;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;

}

.row, container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
#seccionIni a{
    margin-top: 5vh;
}

#seccionIni h1, #seccionIni h5{
    margin-bottom: 8vh;
}

#seccion1 img{
    
    position: relative;
    margin: 0 auto;
    width: 40vw;
}

.im2{
       height: 60vh;
}

.content-request{
    margin-top: 3vh;
}

.content-request h5{
    margin-top: 2vh;
}

   #seccion1,#seccion3,#seccion4,#seccion5,
#seccion6,#seccion7,#seccion8{
       padding-top: 5vh;
   }

.btns-orange{
    background-color: orangered !important;
    color:white !important;
    border-color: orangered !important;
    
}
.btns-orange:hover{
    background-color: white !important;
    color: orangered !important

}
.btns-white{
    background-color:white !important;
    color:orangered !important;
    border: 1px solid orangered !important;
}

.btns-white:hover{
    background-color: orangered !important;
    color: white !important;
}

nav .navbar-nav li a{
  color: black !important;
  font-size: 20px;

}
nav .navbar-nav li a:hover{
    background-color: orangered;
    color: white !important;
}

.col-md-6,.col-md-12,.col-md-8,.col-md-4{
margin: 0 !important;
padding: 0 !important;
}

.btn-emp{
margin-top: 15vh;
margin-bottom: 5vh;
}


@media only screen and (max-width: 760px) {
.im2{
       height: 30vw;
}

.btn-emp{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#seccion3{
       padding-top: 1vw !important;
   }

   #seccion3 img{
       /*height: 50vw;*/
       display: none;
   }

#seccionIni h1, #seccionIni h5{
    margin-bottom: 4vw;
}

.im4{
    height: 40vw;
}

#seccion1,#seccion3,#seccion4,#seccion5,
#seccion6,#seccion7,#seccion8{
    padding-top: 2vw;
}
}
