

.cabin {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    position: relative;
    color: #444444 !important;
}


p{
    font-size:18px;
}



span.anchor {
    margin-top: -54px; /* height of nav, in this case 54px */
    display: block;
    height: 54px; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}



hr {
    border: 0; 
    border-top: 1px solid black; 
}

.color-logo{
    color: #961e22;
}

.remarcado{
    color: #961e22;
}

.titulo-white{
    margin-top: 1em;
    color:white;
}

.color-primary{
    color: #000000;

}

.block-inline{
    display: inline-block;
}

section{
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    
} 


.centered{
  position: absolute;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -90%);
  color: white;

}


.nav-tabs .nav-link.active{
    background-color: #C62026 !important;
    color:white !important;
}

.nav-tabs .nav-link:hover{
    color: white !important;
    background-color:  #C62026 !important;
}
.nav-tabs .nav-link{
    margin-left: 1em;
}

.btn-registrar{
    color: white !important;
    background-color:  #C62026 !important;
}


.row, container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}

#seccionIni a{
    margin-top: 5vh;
}

#seccionIni h1, #seccionIni h5{
    margin-bottom: 8vh;
}

#seccion1 .im1{
    
    position: relative;
    margin: 0 auto;
    width: 40vw;
    margin-bottom: 5em;
}

.im2{
    height: 60vh;
}

.content-request{
    margin-top:10vh;
}

.content-request h5{
    margin-top: 2vh;
}

   #seccion1,#seccion2,#seccion3,#seccion4,
#seccion6,#seccion7{
       padding-top: 5vh;
   }



.btns-orange{
    background-color: #C62026 !important;
    color:white !important;
    border-color: #C62026 !important;
    margin-top: 2em;
}
.btns-orange:hover{
    background-color: #961e22 !important;
    color: white !important;

}
.priceheader{
    border: 1px solid #C62026;
    padding: 0 !important;
    margin:0 !important;
    height: 400px;
    border-radius: 5px;
}
.titleheader{
    background-color: #C62026;
    color: white;
    margin: 0!important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.btn-alig{
    position: absolute;
    bottom: 5px;
    transform: translate(-50%, 0%);
}

.btn-emp{
margin-bottom: 5vh;
}

.container-img img{
    position: relative;
    height:30vh;
    margin-top: 10vh;
}

.spacing{
    margin-top: 10vh !important;
}

.nav-tabs{
    border-bottom: none !important;
}

#seccion6 .container-price{
        margin-top: 1.5em !important;
}

.btn-seccion{
    border: 1px solid white !important;
    margin-bottom: 3vw;
}

.content-request a{
    width: 35vw;
}

.dropselect a{
    font-size: 1.2vw !important;
}


@media only screen and (max-width: 500px) {
    .container-form{
        margin-top: 1em !important;
    }
    .header-form{
        margin-bottom: 0.5 !important;
    }
    .btns-orange{
        margin-top: 1em;
    }

}



@media only screen and (min-width: 800px){
    #seccionIni{
        overflow: hidden;
        height: 90vh;
        margin-bottom: 50px;
    }

   

    .imgportada{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .backImgSeccion{
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    

    
}

@media only screen and (max-width: 800px) {
   
    
    #seccion7 button{
        position: absolute !important;
        font-size: 13px;
        left: 50%;
        transform: translate(-50%);

    }
    .titulo-white{
        font-size: 1.5rem;
    }

    .remarcado{
        font-size: 15px;
    }
    .subtitulo-price h5{
        font-size: 12px;
        margin-bottom: 0 !important;
    }

    .content-request a{
        width: 65vw;
        
    }

    #seccion6 .container-price{
        margin-top: 0.5em !important;
    }

    .content-request .btn h5{
        font-size: 12px !important;
    }

    .titleheader h4{
        font-size: 14px;
    }

    .price-left p, .price-right p {
        margin-bottom: 0.8em !important
    }

    .price-left,.price-right{
        height: 270px;
    }
    .price-left{
        margin-top: 2.5em !important;
    }
    .price-right{
        margin-top: 1em !important;
    }
    .dropselect{
        position: absolute !important;
        width: 120px !important;
        left: 50%;
        transform: translate(-50%) !important;
        
    }

    .dropdown-toggle{
        width: 100%;
    
    }

    
    .price-left .btn , .price-right .btn, .dropselect .btn{
        font-size: 0.8rem !important;
    }

    .im5{
        height: 40vw;
    }

    .cont-imgbtn div{
        margin: 0.2em !important;
    }

    p{
        font-size: 12px;
    }

        
    #seccionIni{
        overflow: hidden;

    }

    .imgportada{
        height: 100vh;
        
        background-repeat: no-repeat;
        background-size: cover;
    }

    .backImgSeccion{
        height: 100vh;
        
        background-repeat: no-repeat;
        background-size: cover;
    }

        
    .height-content{
        min-height: 0px;
    }

}

.imagen{
    width: 100%;
    
}

#seccionTwo{
    background-image: url('../img/potencia.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    overflow: hidden;
    height: 110vh;
    margin-bottom: 50px;
}


.content-over-image-{
    position: relative;
    top:60vh;
    left: 50vw;
    transform: translate(-50%, -90%);
}

.back-gris{
    background-color: #cccccc;
}

.nav-tabs .nav-link{
    border-radius: 5px;
}


.alineado-derecho{
    text-align: left;
}



.priceinternacional ,.priceargentina,.pricebolivares,.pricechile,
.priceparaguay,.priceuruguay{
    display: none;
}


.secciondos{
    background-color: #C62026;
    color: white;
}

.form-container{
    margin: 0 auto;
    width:70%
}

.iconflag{
    width: 20%;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.dropdown-item{
    padding: 0 !important;
    padding-right: 2.2em !important;
    padding-left: 1em !important;
}

.loc-caption:before {
    content: attr(title);
    display: block;
  }
  
  ul {
    text-align: center;
    padding: 0;
  }
  
  li.loc-caption {
    display: inline-block;
    vertical-align: top;
    width: 19%;
  }
  
  li.loc-caption img {
    max-width: 40%;
    height: auto;
  }

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus{
    border-color:#C62026;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #C62026;
    outline: 0 none;
}

.twLongform_FieldInput input[type='text']:not(.Filled):not(:focus)+label, 
.twLongform_FieldInput input[type='email']:not(.Filled):not(:focus)+label,
.twLongform_FieldInput input[type='tel']:not(.Filled):not(:focus)+label{
    opacity: 0;
}
.twLongform_FieldInput label {
    transition: .3s opacity ease;
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 17px;
    margin: 0;
    
}
.twLongform {
    font-size: 10px;
    font-weight: 400;
    color: #B3B3B3;
}
.twLongform_FieldInput {
    margin-bottom: 12px;
    position: relative;
}

.secciondos h2{
    margin-top: 1em;
}

#seccion7{
    background-color: #cccccc;
}
.container-form{
    margin-top: 1em;
}
.header-form{
    margin-bottom: 2em; 
}

.img-fluid{
    max-width: 90% !important;
    max-height: 90% !important;
}

.height-content{
    min-height: 700px;
}

.seccionMarcas{
    height: auto !important;
}